@use "../base/breakpoints" as bp;

.button {
  --button-bg: var(--color-primary);
  --button-text: #fff;
  --button-border: var(--color-primary);
  --button-bg-hover: var(--color-secondary);
  --button-text-hover: #fff;
  --button-border-hover: var(--color-primary);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  padding: 0.75rem 2.5rem;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast),
    color var(--transition-fast);

  &--secondary {
    --button-bg: #fff;
    --button-text: var(--color-primary);
    --button-bg-hover: var(--color-secondary);
    --button-text-hover: #fff;
    --button-border: var(--color-primary);
  }

  &--accent {
    --button-bg: var(--color-accent);
    --button-text: #4e250e;
    --button-border: var(--color-accent);
    --button-bg-hover: var(--color-accent-dark);
    --button-text-hover: #fff;
    --button-border-hover: var(--color-accent-dark);
    padding: 1rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5rem;

    @include bp.up(tablet) {
      padding: 0.75rem 3rem;
      font-size: 1rem;
    }
  }

  &--small {
    padding: 0.5rem 1.375rem;

    &:hover {
      color: var(--button-bg);
      border-color: var(--color-accent);
    }
  }

  &:hover {
    background-color: var(--button-bg-hover);
    border-color: var(--button-border-hover);
    color: var(--button-text-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.225rem;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-primary);
  justify-self: start;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-secondary);
  }
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &__text {
    text-decoration: underline;
    text-underline-offset: 1px;
  }
}
