@use "../base/mixins" as m;

.header {
  @apply min-h-14 tablet:min-h-20 px-4 tablet:px-6 desktop:px-8 flex justify-between desktop:grid desktop:grid-cols-[1fr_auto_1fr] items-center;
  border-bottom: 1px solid var(--color-accent);

  &__menu-toggle {
    display: inline-flex;
    &:hover .header__menu-icon {
      background-color: var(--color-accent);
    }
  }
  &__menu-icon {
    @include m.mask-icon("/src/assets/burgerMenu.svg");
    transition: background-color var(--transition-fast);
  }
}

.nav {

  &__list {
    @apply flex h-full flex-row items-center justify-between gap-x-4 desktop:gap-[clamp(1rem,3vw,4rem)];
  }
  &__link {
    @apply px-3 flex items-center gap-1.5 h-full whitespace-nowrap;
    position: relative;
    font-weight: 600;

    &:hover {
      color: var(--color-primary);
      transition: color var(--transition-fast);
    }

    &[aria-current="page"] {
      font-weight: 700;
      cursor: default;
      pointer-events: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: var(--color-accent);
        transition: background-color 0.2s ease;
      }

      &::before {
        inset-inline: 0;
        bottom: -1px;
        height: 0.25rem;
      }

      &::after {
        bottom: calc(0.25rem - 1px);
        left: 50%;
        width: 1.25rem;
        height: 0.625rem;
        transform: translateX(-50%);
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
      }
    }
  }

  &__icon {
    &--adventure {
      @include m.mask-icon("/src/assets/aventura.svg");
    }

    &--destinations {
      @include m.mask-icon("/src/assets/destinos.svg");
    }

    &--accommodation {
      @include m.mask-icon("/src/assets/alojamiento.svg");
    }
  }
}
